body {
    background-color: #01090B;
    color: white;
    font-family: Montserrat, serif;
    margin: 0;
}

header {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 504px;
}

ul {
    display: flex;
    gap: 104px; 
    list-style: none;
    padding: 0; 
    margin: 0; 
}

li {
    color: white;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none; 
    color: inherit; 
    display: inline-block; 
}


.Icons {
    display: flex;
    align-items: center;
    gap: 64px;
}


.fa-bars {
    height: 20px;
    width: 20px;
    display: flex;
    color: white;
}

.s1 { 
    display: flex;
    justify-content: flex-start; 
    align-items: center;          
    margin-top: 100px;             
    margin-bottom: 100px;
    
    text-align: left;   
    width: 1200px;                
}

.Reason1 {
    display: flex;
    flex-direction: column;       
    align-items: flex-start;      
}

.Text1 {
   
    width: 1200px;
}

.Title1 {
    color: #36655D; 
    font-family: Montserrat, serif;
    font-size: 80px; 
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    margin-bottom: 80px; 
}

.Sontitle1 {
    color: #ffffff; 
    font-family: Montserrat, serif;
    font-size: 40px; 
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    margin-bottom: 20px; 
}

p {
    color: white;               
    font-family: Montserrat, serif;
    font-size: 16px;             
    line-height: 1.6;            
}

.Line {
    width: 90%;
    height: 2px;
    background-color: #ffffff;  
    margin: 20px 0;
    margin-left: 100px;
}

.s2 { 
    display: flex;
    justify-content: flex-start; 
    align-items: center;          
    margin-top: 100px;             
    margin-bottom: 100px;
    
    text-align: left;   
    width: 1200px;           
}

.Reason2 {
    display: flex;
    flex-direction: column;       
    align-items: flex-start;      
}

.Text2 {
    margin-left: 100px;
    width: 1200px;
}

.Sontitle2 {
    color: #ffffff; 
    font-family: Montserrat, serif;
    font-size: 48px; 
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    margin-bottom: 20px; 
}








.s3 { 
    display: flex;
    justify-content: flex-start; 
    align-items: center;          
    margin-top: 100px;             
    margin-bottom: 100px;
    margin-left: 100px;
    text-align: left;   
    width: 1200px;         
}

.Reason3 {
    display: flex;
    flex-direction: column;       
    align-items: flex-start;      
}

.Text3 {
    width: 1200px;
}

.Sontitle3 {
    color: #ffffff; 
    font-family: Montserrat, serif;
    font-size: 48px; 
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    margin-bottom: 20px; 
}


footer {
    display: flex; 
    
    height: 261px;
    justify-content: space-between; 
    align-items: center;    
    flex-direction: column;
    
}

.container2 {
    align-items: center;
    justify-content: center;
    justify-content: center;
    align-items: center;  
}

.Line2 {
    width: 100%;
    height: 2px;
    background-color: #ffffff;  
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.footer-container {
    display: flex;
    justify-content: space-between; 
    gap: 560px;
    width: 1657.55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.nav1 .ul1, 
.nav2 .ul2, 
.nav3 .ul3 {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    gap: 14px; 
}

.nav1 .ul1 li,
.nav2 .ul2 li,
.nav3 .ul3 li {
    color: #818687;
    font-family: Montserrat, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.stay-section {
    position:absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

.Stay {
    color: #FFF;
    font-family: Montserrat, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0; 
}



